let mapleader = " "
set easymotion
set surround
set commentary
set wrapscan
set highlightedyank
set argtextobj
set exchange

set smartcase
set number
set ignorecase
set incsearch
set scrolloff=5 sidescrolloff=10
set clipboard=unnamedplus,unnamed,ideaput " integrate with system clipboard
set ruler
set relativenumber

" edit ideavim config
nnoremap <leader>vv :e ~/.ideavimrc<CR>
nnoremap <leader>vr :source ~/.ideavimrc<CR>

inoremap jj <Esc>

"Go to home and end using capitalized directions
noremap L $
noremap H 0
noremap 0 ^

"Movement between windows
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-k> <c-w>k
nnoremap <c-j> <c-w>j

"Split window
nnoremap <leader>h <c-w>s
nnoremap <leader>v <c-w>v

"Scroll vertically with C-J and C-K
nnoremap ∆ 3<c-e>
nnoremap ˚ 3<c-y>

"Scroll vertically with C-L and C-H
#nnoremap <c-l> 3zl
#nnoremap <c-h> 3zh

" navigation
vmap <leader>? :action GotoAction<CR>
nmap gd :action GotoDeclaration<CR>
nmap <leader>e :action GotoFile<CR>
nmap <leader>c :action GotoClass<CR>
nmap <leader>a :action GotoAction<CR>
nmap <leader>m :action FileStructurePopup<CR>
nmap gr :action ShowUsages<CR>
nmap gi :action GotoImplementation<CR>
nmap gs :action GotoSuperMethod<CR>
"nmap <leader>s <Action>(SelectInProjectView)

nmap <C-p> :action ParameterInfo<CR>
imap <C-p> <C-o>:action ParameterInfo<CR>

nmap <leader>n :action GotoNextError<CR>

" refactor bindings
nmap <leader>l :action Inline<CR>
nmap re :action RenameElement<CR>
nmap ev :action IntroduceVariable<CR>
vmap ev :action IntroduceVariable<CR>
nmap em :action ExtractMethod<CR>
vmap em :action ExtractMethod<CR>
nmap mm :action Move<CR>
nmap <leader>o :action OptimizeImports<CR>
nmap <leader>g :action Generate<CR>

nmap <leader>r  :action ReformatCode<CR>

nmap <, :action MoveElementLeft<CR>
nmap >, :action MoveElementRight<CR>

" view
nmap zz <Action>(ToggleDistractionFreeMode)

" tab management
nmap <Tab> <Action>(MoveEditorToOppositeTabGroup)
nmap <Tab>j <Action>(MoveTabDown)
nmap <Tab>l <Action>(MoveTabRight)

" change font size
nmap + :action EditorIncreaseFontSize<CR>
nmap - :action EditorDecreaseFontSize<CR>
nmap <leader>= :action EditorResetFontSize<CR>
