let mapleader = " "
set easymotion
set surround
set commentary
set wrapscan

set smartcase
set number
set ignorecase
set incsearch
set scrolloff=5 sidescrolloff=10
set clipboard=unnamedplus,unnamed,ideaput " integrate with system clipboard
set ruler
set relativenumber


" edit ideavim config
nnoremap <leader>vv :e ~/.ideavimrc<CR>

nnoremap <leader>vr :source ~/.ideavimrc<CR>

"Remap VIM 0 to first non-blank character
noremap 0 ^
"Go to home and end using capitalized directions
noremap L $
noremap H 0

"Move visual block
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

"Movement between windows
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l

"Scroll vertically with C-J and C-K
nnoremap <c-j> 3<c-e>
nnoremap <c-k> 3<c-y>

"Scroll vertically with C-L and C-H
#nnoremap <c-l> 3zl
#nnoremap <c-h> 3zh

"Don't lose selection when indenting
vnoremap < <gv
vnoremap > >gv
vnoremap = =gv

vmap <leader>? :action GotoAction<CR>
nmap gd :action GotoDeclaration<CR>
nmap <leader>e :action GotoFile<CR>
nmap <leader>c :action GotoClass<CR>
nmap <leader>a :action GotoAction<CR>
nmap <leader>m :action FileStructurePopup<CR>

nmap gr :action ShowUsages<CR>
nmap gi :action GotoImplementation<CR>
nmap gs :action GotoSuperMethod<CR>

inoremap jj <Esc>

nmap <C-p> :action ParameterInfo<CR>
imap <C-p> <C-o>:action ParameterInfo<CR>
nmap <leader>n :action GotoNextError<CR>


nmap <leader>ri :action Inline<CR>
nmap <leader>rr :action RenameElement<CR>
nmap <leader>rev :action IntroduceVariable<CR>
vmap <leader>rev :action IntroduceVariable<CR>
nmap <leader>rem :action ExtractMethod<CR>
vmap <leader>rem :action ExtractMethod<CR>
nmap <leader>rm :action Move<CR>
nmap <leader>ro :action OptimizeImports<CR>
nmap <leader>rG :action Generate<CR>

"nmap <leader>f  :action ReformatCode<CR>

nmap <, :action MoveElementLeft<CR>
nmap >, :action MoveElementRight<CR>

" change font size
nmap + :action EditorIncreaseFontSize<CR>
nmap - :action EditorDecreaseFontSize<CR>
nmap <leader>= :action EditorResetFontSize<CR>
